$URL_FONT = '/css/fonts/'
$URL_ROBOTO = $URL_FONT + 'roboto/'

/*---------------------------------/
            ROBOTO FONT
/---------------------------------*/
//black
@font-face{
    font-family 'Roboto Black'
    src url($URL_ROBOTO + 'Roboto-Black.ttf')
}
//black-italic
@font-face{
    font-family 'Roboto Black Italic'
    src url($URL_ROBOTO + 'Roboto-BlackItalic.ttf')
}
//bold
@font-face{
    font-family 'Roboto Bold'
    src url($URL_ROBOTO + 'Roboto-Bold.ttf')
}
//bold-italic
@font-face{
    font-family 'Roboto Bold Italic'
    src url($URL_ROBOTO + 'Roboto-BoldItalic.ttf')
}
//italic
@font-face{
    font-family 'Roboto Italic'
    src url($URL_ROBOTO + 'Roboto-Italic.ttf')
}
//light
@font-face{
    font-family 'Roboto Light'
    src url($URL_ROBOTO + 'Roboto-Light.ttf')
}
//light-italic
@font-face{
    font-family 'Roboto Light Italic'
    src url($URL_ROBOTO + 'Roboto-LightItalic.ttf')
}
//medium
@font-face{
    font-family 'Roboto Medium'
    src url($URL_ROBOTO + 'Roboto-Medium.ttf')
}
//medium-italic
@font-face{
    font-family 'Roboto Medium Italic'
    src url($URL_ROBOTO + 'Roboto-MediumItalic.ttf')
}
//regular
@font-face{
    font-family 'Roboto'
    src url($URL_ROBOTO + 'Roboto-Regular.ttf')
}
//thin
@font-face{
    font-family 'Roboto Thin'
    src url($URL_ROBOTO + 'Roboto-Thin.ttf')
}
//thin-italic
@font-face{
    font-family 'Roboto Thin Italic'
    src url($URL_ROBOTO + 'Roboto-ThinItalic.ttf')
}