//Flexbox Mixin
flex-container($align, $direction, $display, $justify, $wrap){
    align-items $align
    display $flex
    flex-direction $direction
    flex-wrap $wrap
    justify-content $justify
}
//Animation Mixin
animation($delay, $direction, $duration, $fill-mode, $iteration, $name, $state, $timing){
    //Specifies a delay for the start of an animation
    animation-delay $delay
    //Specifies whether an animation should play in reverse direction or alternate cycles
    //normal, reverse, alternate, alternate-reverse
    animation-direction $direction
    //Specifies how many seconds or milliseconds an animation takes to complete one cycle
    animation-duration $duration
    //Specifies a style for the element when the animation is not playing (when it is finished, or when it has a delay)
    //none, forwards, backwards, both
    animation-fill-mode $fill-mode
    //Specifies the number of times an animation should be played
    //number(0,1,2,3), infinite
    animation-iteration-count $iteration
    //Specifies the name of the @keyframes animation
    animation-name $name
    //Specifies whether the animation is running or paused
    //paused, running
    animation-play-state $state
    //Specifies the speed curve of the animation
    //linear, ease, ease-in, ease-out, step-start, step-end
    animation-timing-function $timing
}