doctype
html(lang="en")
    head
        //- Load mixins for regular title and metas, facebook and twitter cards and favicons
        //- Every include needed
        include ../helpers/mixins/_favicon.pug
        include ../helpers/mixins/_metas.pug
        include ../helpers/mixins/_social.pug
        include _footer.pug
        include _navigation.pug
        include _scripts.pug

        //-- Vars for metas, every page have those vars
        block meta-vars

        //- Default responsive metas
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")

        //- Mixin metas and simple metas
        +simple_metas(_author, _description, _keywords, _title)
        +favicon
        +twitter_card(_title, _description, twitter_account, twitter_img)
        +facebook_card(_title, _description, facebook_url, facebook_img)

        //- Css loaded according to page or if needed
        block styles

        //- Js loaded at the begining like GAnalytics, GMaps, etc
        block scripts-init
    
    body
        //- Navigation Mixin
        block navigation
        
        //- Body Content
        block body

        //- Footer Mixin
        block footer

        //- Default Scripts Loaded Mixin
        +scripts-default
        //- JS Object functions called
        block scripts