extends layout/_master.pug

//- Includes
include layout/_navigation.pug

block meta-vars
    - var _author = 'Site Author'
    - var _description = 'Page descriptions'
    - var facebook_url = 'https://www.facebook.com/'
    - var facebook_img = '/assets/img/default.jpg'
    - var _keywords = 'Page keywords'
    - var _title = 'Title tag text'
    - var twitter_account = ''
    - var twitter_img = ''

block scripts-init
    //- Scripts to load at start like GAnalytics

block styles
    link(rel="stylesheet", href='/css/style.min.css')

block navigation
    +navigation

block body

block footer
    +footer

block scripts
    script.
        $(document).ready(function(){
            //Js Object Call
        });