mixin favicon
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png?v=Kmbp67rJgw")
    link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png?v=Kmbp67rJgw" sizes="32x32")
    link(rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png?v=Kmbp67rJgw" sizes="16x16")
    link(rel="manifest" href="/assets/img/favicon/manifest.json?v=Kmbp67rJgw")
    link(rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=Kmbp67rJgw" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/img/favicon/favicon.ico?v=Kmbp67rJgw")
    meta(name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=Kmbp67rJgw")
    meta(name="theme-color" content="#ffffff")