//- REGULAR META DATA AND TITLE
mixin simple_metas(m_author, m_description, m_keywords, m_title)
    title= m_title
    meta(name="description" content= m_description)
    meta(name="keywords" content= m_keywords)
    meta(name="author", content= m_author)